@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<address>
    GameShare Inc<br />
    Location, IN #####<br />
    <abbr title="Phone">P:</abbr>
    ###.###.####
</address>

<address>
    <strong>Reach me at:</strong>   <a href="mailto:claytoncampbelldesign@gmail.com">claytoncampbelldesign@gmail.com</a><br />
</address>