@{
    ViewBag.Title = "Home Page";
}
<link href='https://fonts.googleapis.com/css?family=Bungee Inline' rel='stylesheet'>
<div class="jumbotron">
    <h1>Welcome to</br><span style="font-family:'Bungee Inline'; color:antiquewhite;">GameShare</span></h1>
    <p class="lead">
        The place to &nbsp;<span style="font-family:'Bungee Inline'; color:antiquewhite;"> Share </span>
        &nbsp;&nbsp;<span style="font-family:'Bungee Inline'; color:antiquewhite;"> Swap </span>
        &nbsp;&nbsp; and &nbsp;&nbsp;<span style="font-family:'Bungee Inline'; color:antiquewhite;"> Store </span>&nbsp; your games!
    </p>
<p><a href="~/Inventory/Index" class="btn btn-default btn-lg">Get Started Now!</a></p>
</div>
<div class="row">
</div>
